.fweetPost{
    display: flex;
    gap: 5px;
    border: 1px solid lightslategrey;
}

.fweetPost img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 15px;
}

#posts, #followed{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    overflow-y: scroll;
}

#posts::-webkit-scrollbar,  #followed::-webkit-scrollbar{
    width: 0.5rem;
  }
  
  #posts::-webkit-scrollbar-track, #followed::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  #posts::-webkit-scrollbar-thumb, #followed::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

  
.text{
    word-break: break-word;
}

#fweetInfo{
    padding: 0;
    margin: 0;
    width: 100%;
    /* color: red; */
}



.replyBox{
    display: flex;
    gap: 5px;
}

.replyForm{
}

#replyText{
  max-width: 400px;
  width: 100%;
  height: 50px;
}

.delete{
  align-self: flex-start;
  justify-self: flex-end;
  background: none;
  border: none;
  font-size: 17px;
}


#profileInfo{
  display: flex;
  gap: 10px
}

.follow{
  align-self: flex-end;
  font-size: 15px;
  background-color: blue;
  border-radius: 20px;
  color: white;
}

#followed{
  font-size: 20px;
}

.profile{
  display: flex;
  gap: 5px;
  align-items: center;
}
.profile img{
  border-radius: 100px;
}

.profile div{
  display: flex;
  flex-direction: column;
}