

.rightbar{
    width: 300px;
    background-color: grey;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
}

.rightbar button{
    font-family: 'Courier New', Courier, monospace;
    border: none;
    font-size: 25px;
    background-color: grey;
    /* width: 60px; */
}